<!DOCTYPE html>
<!--suppress ALL -->
<html
        xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>Display Book</title>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="../static/css/underline.css" media="screen, projection">

    <!--<link rel="stylesheet" type="text/css" href="/new.css" media="screen, projection">-->
    <!--<link rel="stylesheet" type="text/css" href="new1.css" media="screen, projection">-->

</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
        <div th:insert="fragments/sidemenu.html"></div>

    </div>
    <div id="content">
        <dl class="row">
        </dl>
        <!--/*@thymesVar id="Bibs" type="pl.chomik.demo.domian.Bibs"*/-->
        <form th:action="@{/books/saveBook}" th:object="${bibs}" method="get">
            <dt class="col-sm-3">Title:</dt>
            <dd class="col-sm-9"  th:name="${}" th:value="${}"></dd>

            <dt class="col-sm-3">Author</dt>
            <dd class="col-sm-9" th:text="${author}"></dd>

            <dt class="col-sm-3">ISBN</dt>
            <dd class="col-sm-9" th:text="${isbnIssn}"></dd>

            <dt class="col-sm-3">Publisher</dt>
            <dd class="col-sm-9" th:text="${publisher}"></dd>

            <dt class="col-sm-3">Gerne</dt>
            <dd class="col-sm-9" th:text="${gerne}"></dd>

            <dt class="col-sm-3">Language</dt>
            <dd class="col-sm-9" th:text="${language}"></dd>

            <dt class="col-sm-3">Subject</dt>
            <dd class="col-sm-9" th:text="${subject}"></dd>

            <dt class="col-sm-3">Place of publication:</dt>
            <dd class="col-sm-9" th:text="${placeOfPublication}"></dd>

            <dt class="col-sm-3">Kind:</dt>
            <dd class="col-sm-9" th:text="${kind}"></dd>

            <dt class="col-sm-3">Domain:</dt>
            <dd class="col-sm-9" th:text="${domain}"></dd>

            <dt class="col-sm-3">Publication year:</dt>
            <dd class="col-sm-9" th:text="${publicationYear}"></dd>

            <dt class="col-sm-3">Form of work:</dt>
            <dd class="col-sm-9" th:text="${formOfWork}"></dd>

            <!--<input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="user">-->
            <!--<button type="submit" class="btn btn-outline-primary">Save book</button>-->

        </form>

    </div>
</div>


</body>
</html>