<!DOCTYPE html>
<!--suppress ALL -->
<html
        xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>Show my book</title>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="../static/css/underline.css" media="screen, projection">

    <!--<link rel="stylesheet" type="text/css" href="/new.css" media="screen, projection">-->
    <!--<link rel="stylesheet" type="text/css" href="new1.css" media="screen, projection">-->

</head>
<body>
boooks
<div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
        <div th:insert="fragments/sidemenu"></div>
    </div>
</div>
<div id="content">
    <table>
        <thread>
            <tr>
                <th> Title</th>
                <th> Author</th>
            </tr>
        </thread>
        <tbody>
        <tr th:if="${bibsdto == null}">
            <td coolspan="2"> No books avalible</td>
        </tr>
        <tr th:each="bibsdto: ${bibsdto}">
            <td><span th:text="${bibsdto.title}"> Title</span> </td>
            <td><span th:text="${bibsdto.author}"> Author</span> </td>

        </tr>
        </tbody>
        <tr>

        </tr>

        </thread>
    </table>
</div>


<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $( document ).ready( function () {
        $( '#sidebarCollapse' ).on( 'click', function () {
            $( '#sidebar' ).toggleClass( 'active' );
        } );
    } );
</script>
</body>
</html>