<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->

    <title>User registration page</title>


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/../css/styles.css">
    <link rel="stylesheet" type="text/css" href="/../css/underline.css">
</head>
<body>
    <div class="wrapper">
        <div id="sidebar">
            <div th:insert="fragments/sidemenu.html"></div>
        </div>

<div id="content">
    <div>
        <!--/*@thymesVar id="User" type="pl.chomik.demo.domian.User"*/-->
        <form class="col s12" th:action="@{/register}" th:object="${User}" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input th:field="*{name}" id="name" type="text" required="required" class="validate"
                           th:errorclass="invalid"/>
                    <div>  Name</div>
                    <div th:errors="*{name}" class="red-text"> Error</div>
                </div>
                <div class="input-field col s6">
                    <!--<label th:text="#{label.user.lastName}">Last Name</label>-->
                    <input th:field="*{lastName}" id="last_name" type="text" required="required" class="validate"  th:errorclass="invalid"/>

                    <div> Last name</div>
                    <div th:errors="*{lastName}" class="red-text">Error</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <!--<label th:text="#{label.user.email}">Email</label>-->
                    <input th:field="*{email}" id="email" type="email" required="required   " class="validate"
                           th:errorclass="invalid"/>
                    <div> email</div>

                    <div th:errors="*{email}" class="red-text">Error</div>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <!--<label th:text="#{label.user.password}">Password</label>-->
                    <input th:field="*{password}" id="password" type="password" required="required"
                    class="validate" th:errorclass="invalid"/>
                    <div> Password</div>
                    <div th:errors="*{password}" class="red-text">Error</div>
                    </div>
                    <!--<div class="input-field col s6">-->
                    <!--&lt;!&ndash;<label th:text="#{label.user.confirmPassword}">Confirm Password</label>&ndash;&gt;-->
                    <!--<input th:field="*{confirmPassword}" id="confirmPassword" type="password"-->
                    <!--required="required" class="validate" th:errorclass="invalid"/>-->
                    <!--<div th:errors="*{confirmPassword}" class="red-text">Error</div>-->
                    <!--</div>-->
                </div>
            <d

                <div class="row s12">

                    <button class="btn waves-effect-light" type="submit" name="save">Send<i
                            class="mdi-content-send right"></i></button>
                </div>
        </form>

        <form action="/signing" method="get">
            <button class="btn waves-effect-light" type="submit" name="save">Back<i
                    class="mdi-content-send right"></i></button>
    </div>
    </form>

</div>


</div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    </div>


</body>
</body>
</html>